<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vendedores"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.vendedores.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.vendedores.ListadoClientes"
            android:label="@string/title_activity_listado_clientes" >
        </activity>
        <activity
            android:name="com.example.vendedores.DetalleCliente"
            android:label="@string/title_activity_detalle_cliente" >
        </activity>
        <activity
            android:name="com.example.vendedores.Factura"
            android:screenOrientation="portrait" 
            android:label="@string/title_activity_factura" >
        </activity>
        <activity
            android:name="com.example.vendedores.Historico"
            android:label="@string/title_activity_ventas_historico"
            android:parentActivityName="com.example.vendedores.DetalleCliente" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vendedores.DetalleCliente" />
        </activity>
    </application>

</manifest>
