<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vendedores"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.example.vendedores.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="com.example.vendedores.GcmIntentService" />

        <activity
            android:name="com.example.vendedores.Login"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.vendedores.ListadoClientes"
            android:label="@string/title_activity_listado_clientes"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.vendedores.DetalleCliente"
            android:label="@string/title_activity_detalle_cliente"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.vendedores.Factura"
            android:label="@string/title_activity_factura"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.vendedores.Historico"
            android:label="@string/title_activity_ventas_historico"
            android:parentActivityName="com.example.vendedores.DetalleCliente"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vendedores.DetalleCliente" />
        </activity>
        <activity
            android:name="com.example.vendedores.NotaActivity"
            android:label="@string/title_activity_nota" >
        </activity>
        <activity
            android:name="com.example.vendedores.GCMActivity"
            android:label="@string/title_activity_gcm_activity" >
        </activity>
         <activity
            android:name="com.example.vendedores.EleccionFactura"
            android:label="@string/eleccion_factura_activity" >
        </activity>
       
    </application>

</manifest>
